{% extends "letter.tex.jinja" %}


{% block signature %}
{{ inviter.name.full_name() }}
{% endblock %}


{% block addressor %}
{{ inviter.name.full_name() }} \\
{{ inviter.address.multiline() }} \\[1ex]
{{ phone_format(inviter.phone) }} \\[1ex]
{{ inviter.email }} \\
{% endblock %}


{% block addressee %}
{{ embassy.name.full_name() }} \\
{{ embassy.address.multiline() }}
{% endblock %}


{% block body %}
\opening{Dear Visa Officer,}

I would like to confirm that my {{ invitee.relationship }}, {{ invitee.name.full_name() }}, will apply for a UK visitor visa. {{ invitee.pronoun.get_subject().capitalize() }} will travel to the United~Kingdom from {{ date_format(trip.arrival_date) }} until {{ date_format(trip.departure_date) }}{% if trip.reason %} for {{ trip.reason }}{% endif %}.

I am able to accommodate {{ invitee.name.short_name() }} at my place, {{ inviter.address.line() }}.
{% if trip.financial_support %}
{{ invitee.pronoun.get_subject().capitalize() }} will be in receipt of a return ticket and all of the expenses for {{ invitee.pronoun.get_determiner() }} journey will be met by me.
{% else %}
{{ invitee.pronoun.get_subject().capitalize() }} will use {{ invitee.pronoun.get_determiner() }} savings for the trip, and I will assist {{ invitee.pronoun.get_object() }} to cover any additional expenses.
{% endif %}

While in the UK, {{ invitee.pronoun.get_subject() }} will not engage in gainful employment.

{% if trip.return_country or trip.return_reason %}
After {{ invitee.pronoun.get_determiner() }} trip to the UK, {{ invitee.name.short_name() }} will {% if trip.return_country %} return to {{ trip.return_country }}{% else %} leave the UK {% endif %}{% if trip.return_reason %} {{ trip.return_reason }}{% endif %}.
{% endif %}

{% if trip.covid %}
We are aware of the coronavirus guidelines, and we will respect them and re-plan the trip if necessary.
{% endif %}

{% if employer %}
I am currently employed at {{ employer.name.full_name() }}, {{ employer.address.line() }}.
{% endif %}

I have enclosed the following documents:
\begin{itemize}
{% if inviter.residence == "permit" %} \item residence permit
{% elif inviter.residence == "share code" %} \item immigration status share code
{% elif inviter.residence == "passport" %} \item passport
{% elif inviter.residence %} \item {{ inviter.residence }}
{% endif %}
{% if employer %} \item employment reference {% endif %}
{% if trip.financial_support %} \item latest payslip {% endif %}
{% if inviter.proof_of_address %} \item proof of address: {{ inviter.proof_of_address }} {% endif %}
{% for doc in docs %}
\item {{ doc }}
{% endfor %}
\end{itemize}

Should you wish to discuss this application further, please do not hesitate to contact me.

\closing{Best regards,}
{% endblock %}
