version: 2.1

jobs:
  publish:
    docker:
      - image: cimg/python:3.14
    resource_class: medium
    steps:
      - checkout
      - run: pip install poetry==2.2.1 poetry-dynamic-versioning==1.9.1
      - run: poetry publish --build

  release:
    docker:
      - image: cimg/node:lts
    resource_class: small
    steps:
      - checkout
      - run: npm i semantic-release@25.0.2 conventional-changelog-conventionalcommits@9.1.0
      - run: npx semantic-release

workflows:
  ci:
    jobs:
      - release:
          filters:
            branches:
              only: main
  cd:
    jobs:
      - publish:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
